{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block header %}
<li class="breadcrumb-item"><a href="/"><i class="bi bi-house"></i></a></li>
<li class="breadcrumb-item active" aria-current="page">Вход</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <img
                src="{{ url_for('static', filename='images/avatar.png') }}"
                class="rounded img-fluid"
                alt="avatar"
        />
    </div>
    <div class="col my-auto d-block">
        <h1 class="mb-5">Вход в {{ title }}</h1>

        <form method="post" action="/login{% if query_string %}{{ '?' + query_string }}{% endif %}">
            <div class="mb-3">
                <label class="form-label" for="login">Логин</label>
                <input id="login" class="form-control form-control-lg" name="login" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Пароль</label>
                <input type="password" id="password" class="form-control form-control-lg" name="password" />
            </div>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            {%- for msg in errors %}
            <p class="text-danger">
                <i class="bi bi-exclamation-circle"></i>
                {{ msg }}
            </p>
            {% endfor -%}
            {% endif %}
            {% endwith %}
            <button
                    type="submit"
                    class="btn btn-primary btn-lg w-100"
            >
                Войти
                <i class="bi bi-box-arrow-in-right"></i>
            </button>
        </form>
    </div>
</div>
{% endblock %}
