<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {{ title }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/avatar-256.png') }}">

    <script src="{{ url_for('static', filename='libs/jquery-3.1.1.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap-5.3.3/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='libs/bootstrap-5.3.3/bootstrap.bundle.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap-icons-1.11.3/bootstrap-icons.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/DataTables/datatables.min.css') }}">
    <script src="{{ url_for('static', filename='libs/DataTables/datatables.min.js') }}"></script>

    <!-- noty -->
    <script src="{{ url_for('static', filename='libs/jquery.noty.packaged.min.js') }}"></script>

    <script src="{{ url_for('static', filename='libs/moment-2.30.1.js') }}"></script>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <style>
        {% block custom_css %}{% endblock %}
    </style>
</head>
<body>
    <div class="sticky-top">
        <nav class="navbar bg-info-subtle px-3">
            <a class="navbar-brand" href="/">
                <img src="/favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                {{ title }}
            </a>
            {% if current_user.is_authenticated %}
            <div class="d-flex">
                <a href="/notifications" class="icon-link icon-link-hover position-relative">
                    <i class="bi bi-send"></i>
                    Уведомления
                    <span id="unsent-notifications" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none">
                    </span>
                </a>
                <div class="vr mx-3"></div>
                <a href="/logout" class="icon-link icon-link-hover">
                    <i class="bi bi-box-arrow-left"></i>
                    Выйти
                </a>
            </div>
            {% endif %}
        </nav>
        <nav class="bg-light-subtle px-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block header %}{% endblock %}
            </ol>
        </nav>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
