{% extends 'base.html' %}

{% block title %}Задача "{{ task.name }}"{% endblock %}

{% block header %}
<li class="breadcrumb-item"><a href="/"><i class="bi bi-house"></i></a></li>
<li class="breadcrumb-item active" aria-current="page">{{ task.name }}</li>
{% endblock %}

{% block content %}
<table id="table-task-runs" class="table"></table>

<script>
    const TASK_ID = {{ task.id }};
    {# TODO:
    const TASK = {{ task.to_dict() | safe }};
    #}
</script>
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
{% endblock %}
