{% extends 'base.html' %}

{% block title %}Создание задачи{% endblock %}

{% block header %}
<li class="breadcrumb-item"><a href="/"><i class="bi bi-house"></i></a></li>
<li class="breadcrumb-item active" aria-current="page">Создание задачи</li>
{% endblock %}

{% block content %}
<form method="post" action="/api/task/create">
    <div class="mb-3">
        <label for="name" class="form-label">Название</label>
        <input class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input
                    class="form-check-input"
                    id="is_enabled"
                    type="checkbox"
                    role="switch"
                    name="is_enabled"
                    checked
            >
            <label for="is_enabled" class="form-label">Активный</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea
                class="form-control"
                id="description"
                rows="3"
                name="description"
        ></textarea>
    </div>
    <div class="mb-3">
        <label for="cron" class="form-label">Расписание</label>
        <div class="row">
            <div class="col">
                <textarea
                        class="form-control font-monospace"
                        id="cron"
                        rows="1"
                        name="cron"
                        aria-describedby="cron-description"
                        required
                ></textarea>
                <div class="form-text" id="cron-description">
                    Формат cron.
                </div>
            </div>
            <div class="col">
                <div><code>H */1 * * *</code> - Каждый час</div>
                <div><code>H */8 * * *</code> - Каждые 8 часов</div>
                <div><code>H 0 * * *</code> - Раз в сутки</div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="command" class="form-label">Команда</label>
        <textarea
                class="form-control font-monospace"
                id="command"
                rows="3"
                name="command"
                required
        ></textarea>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input
                    class="form-check-input"
                    id="is_infinite"
                    type="checkbox"
                    role="switch"
                    name="is_infinite"
            >
            <label for="is_infinite" class="form-label">Бесконечный</label>
        </div>
    </div>
    <div class="mb-3">
        <button
                type="submit"
                class="btn btn-primary"
        >
            <i class="bi bi-check-circle"></i>
            Создать
        </button>
        <a
                class="btn btn-secondary"
                href="/"
                role="button"
        >
            <i class="bi bi-x-circle"></i>
            Отмена
        </a>
    </div>
</form>

<script src="{{ url_for('static', filename='js/task_create.js') }}"></script>
{% endblock %}
