{% extends 'base.html' %}

{% block title %}Запуск #{{ task_run.seq }} задачи "{{ task_run.task.name }}"{% endblock %}

{% block header %}
<li class="breadcrumb-item"><a href="/"><i class="bi bi-house"></i></a></li>
<li class="breadcrumb-item"><a href="/task/{{ task_run.task.id }}">{{ task_run.task.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">#{{ task_run.seq }}</li>
{% endblock %}

{% block content %}
<div class="fs-1 flex-fill">
    <!-- TODO: спиннер тут мелкий -->
    <span class="task_run_work_status"></span>
</div>

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button
                class="btn btn-danger"
                title="Отправить уведомления запуска #{{ task_run.seq }}"
                data-url="/api/task/{{ task_run.task.id }}/run/{{ task_run.seq }}/do-send-notifications"
                data-method="POST"
        >
            <i class="bi bi-send"></i>
        </button>
    </div>
</div>

<table id="table-task-run-logs" class="table"></table>

<script>
    const TASK_ID = {{ task_run.task.id }};
    const TASK_RUN_SEQ = {{ task_run.seq }};
    const TASK_RUN_WORK_STATUS = "{{ task_run.work_status }}";
</script>
<script src="{{ url_for('static', filename='js/task_run.js') }}"></script>
{% endblock %}
