{% extends 'base.html' %}

{% block title %}
    {% if is_mode_edit %}
        Редактирование задачи "{{ task.name }}"
    {% else %}
        Создание задачи
    {% endif %}
{% endblock %}

{% block custom_css %}
.cron-examples code:hover {
    cursor: pointer;
}
{% endblock %}

{% block header %}
    <li class="breadcrumb-item"><a href="/"><i class="bi bi-house"></i></a></li>
    {% if is_mode_edit %}
        <li class="breadcrumb-item"><a href="/task/{{ task.id }}">{{ task.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">Создание задачи</li>
    {% endif %}
{% endblock %}

{% block content %}
<form
        method="post"
        {% if is_mode_edit %}
        action="/api/task/{{ task.id }}/update"
        {% else %}
        action="/api/task/create"
        {% endif %}
>
    <div class="mb-3">
        <label for="name" class="form-label">Название</label>
        <input
                class="form-control"
                id="name"
                name="name"
                {% if is_mode_edit %}
                value="{{ task.name | e }}"
                disabled
                {% else %}
                required
                {% endif %}
        />
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input
                    class="form-check-input"
                    id="is_enabled"
                    type="checkbox"
                    role="switch"
                    name="is_enabled"
                    {% if is_mode_edit %}
                    {% if task.is_enabled %}checked{% endif %}
                    {% else %}
                    checked
                    {% endif %}
            />
            <label for="is_enabled" class="form-label">Активный</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea
                class="form-control"
                id="description"
                rows="3"
                name="description"
        >{% if is_mode_edit and task.description %}{{ task.description | e }}{% endif %}</textarea>
        <div class="form-check form-switch">
            <input
                    id="show-description-preview"
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    data-bs-toggle="collapse"
                    data-bs-target="#description-preview-collapse"
                    aria-expanded="false"
                    aria-controls="description-preview-collapse"
            />
            <label for="show-description-preview" class="form-label text-secondary-emphasis">Предпросмотр</label>
        </div>
        <div id="description-preview-collapse" class="collapse">
            <div id="description-preview"></div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col">
                <label for="cron" class="form-label">Расписание</label>
                <textarea
                        class="form-control font-monospace"
                        id="cron"
                        rows="1"
                        name="cron"
                >{% if is_mode_edit and task.cron %}{{ task.cron | e }}{% endif %}</textarea>
                <div class="form-text">
                    <span class="cron-result-error text-danger"></span>
                </div>
                <div class="form-check form-switch">
                    <input
                            id="show-next-dates"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            data-bs-toggle="collapse"
                            data-bs-target="#next-dates-collapse"
                            aria-expanded="false"
                            aria-controls="next-dates-collapse"
                    />
                    <label for="show-next-dates" class="form-label text-secondary-emphasis">Даты планирования</label>
                </div>
                <div id="next-dates-collapse" class="collapse">
                    <div
                            id="next-dates"
                            class="vstack font-monospace text-primary-emphasis"
                    ></div>
                </div>
            </div>
            <div class="col">
                Формат cron:
                <div>
                    <p><code>MINUTE HOUR DOM MONTH DOW</code></p>
                    <p>
                        <table class="table">
                            <thead>
                                <tr><th>Поле</th><th>Описание</th></tr>
                            </thead>
                            <tbody>
                                <tr><td><code>MINUTE</code></td><td>Минуты в часе (0–59)</td></tr>
                                <tr><td><code>HOUR</code></td><td>Суточный час (0–23)</td></tr>
                                <tr><td><code>DOM</code></td><td>День месяца (1–31)</td></tr>
                                <tr><td><code>MONTH</code></td><td>Месяц (1–12)</td></tr>
                                <tr><td><code>DOW</code></td><td>День недели (0–7), где 0 и 7 это воскресенье.</td></tr>
                            </tbody>
                        </table>
                    </p>
                    <p>Задание нескольких значений для полей, возможны через следующие операторы:</p>
                    <ul>
                        <li><code>*</code> задает все разрешенные значения</li>
                        <li><code>M-N</code> задает диапазон значений</li>
                        <li><code>M-N/X</code> или <code>*/X</code> шаги интервала <code>X</code> через заданный диапазон или целый валидный диапазон</li>
                        <li><code>A,B,...,Z</code> перечисление нескольких значений</li>
                    </ul>
                </div>
            </div>
            <div class="col cron-examples">
                Примеры:
                <ul>
                    <li><code>0 */1 * * *</code> - каждый час</li>
                    <li><code>0 */8 * * *</code> - каждые 8 часов</li>
                    <li><code>0 0 * * *</code> - раз в сутки</li>
                </ul>
                Псевдонимы:
                <ul>
                    <li><code>@hourly</code> - каждый час</li>
                    <li><code>@daily</code> и <code>@midnight</code> - раз в сутки</li>
                    <li><code>@weekly</code> - каждую неделю</li>
                    <li><code>@monthly</code> - каждый месяц</li>
                    <li><code>@yearly</code> и <code>@annually</code> - каждый год</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="command" class="form-label">Команда</label>
        <textarea
                class="form-control font-monospace"
                id="command"
                rows="3"
                name="command"
                required
        >{% if is_mode_edit and task.command %}{{ task.command | e }}{% endif %}</textarea>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input
                    class="form-check-input"
                    id="is_infinite"
                    type="checkbox"
                    role="switch"
                    name="is_infinite"
                    {% if is_mode_edit and task.is_infinite %}checked{% endif %}
            />
            <label for="is_infinite" class="form-label">Бесконечный</label>
        </div>
    </div>
    <div class="pb-2 sticky-bottom">
        <button
                type="submit"
                class="btn btn-primary"
        >
            <i class="bi bi-check-circle"></i>
            {% if is_mode_edit %}
            Обновить
            {% else %}
            Создать
            {% endif %}
        </button>
        <a
                class="btn btn-secondary"
                {% if is_mode_edit %}
                href="/task/{{ task.id }}"
                {% else %}
                href="/"
                {% endif %}
                role="button"
        >
            <i class="bi bi-x-circle"></i>
            Отмена
        </a>
    </div>
</form>

<script src="{{ url_for('static', filename='js/task_create_or_update.js') }}"></script>
{% endblock %}
