{% extends 'base.html' %}

{% block title %}
Задача "{{ task.name }}"
{% endblock %}

{% block header %}
    <li class="breadcrumb-item"><a href="/"><i class="bi bi-house"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ task.name }}</li>
{% endblock %}

{% block content %}
<!-- TODO: -->
<div class="mb-3">
    <div class="d-flex">
        <div class="fs-1 flex-fill">
            <!-- TODO: спиннер тут мелкий -->
            <span class="task_last_work_status"></span>
            <span>{{ task.name }}</span>
        </div>
        <!-- TODO: Перенести в отдельные функции и использовать в index.js и тут -->
<!--        TODO: кнопки получаются мелкими. Мб перенести их, например, в левую часть в список? -->
        <div class="align-self-center">
            <button
                    id="btn-do-run"
                    class="btn text-success p-0"
                    title="Запуск"
                    data-url="/api/task/{{ task.id }}/do-run"
                    data-method="POST"
            >
                <i class="bi bi-caret-right-square-fill"></i>
            </button>
            <span class="d-none" id="btn-stop"></span>
            <a
                    class="icon-link text-success-emphasis"
                    href="/task/{{ task.id }}/update"
                    title="Редактировать"
            >
                <i class="bi bi-pencil-square"></i>
            </a>
        </div>
    </div>

    <div class="mb-3">
        <div id="description">{% if task.description %}{{ task.description | safe }}{% endif %}</div>
    </div>

    <div class="mb-3 d-flex">
        <div class="form-check form-switch">
            <input
                    class="form-check-input"
                    id="is_enabled"
                    type="checkbox"
                    role="switch"
                    data-context-obj-field="is_enabled"
                    data-url-update="/api/task/{{ task.id }}/update"
                    {% if task.is_enabled %}checked{% endif %}
            />
            <label for="is_enabled" class="form-label">Активный</label>
        </div>
        <div class="p-3"></div>
        <div class="form-check form-switch">
            <input
                    class="form-check-input"
                    id="is_infinite"
                    type="checkbox"
                    role="switch"
                    data-context-obj-field="is_infinite"
                    data-url-update="/api/task/{{ task.id }}/update"
                    {% if task.is_infinite %}checked{% endif %}
            />
            <label for="is_infinite" class="form-label">Бесконечный</label>
        </div>
    </div>

    <div class="mb-3">
        <label for="command" class="form-label">Команда</label>
        <textarea
                class="form-control font-monospace"
                id="command"
                rows="3"
                name="command"
                disabled
        >{% if task.command %}{{ task.command | e }}{% endif %}</textarea>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col">
                <label for="cron" class="form-label">Расписание</label>
                <input
                        class="form-control font-monospace"
                        id="cron"
                        name="cron"
                        {% if task.cron %}
                        value="{{ task.cron | e }}"
                        {% endif %}
                        disabled
                >
                <div class="form-text">
                    <span class="cron-result-error text-danger"></span>
                </div>
            </div>
            {% if task.cron %}
            <div class="col">
                <div class="form-check form-switch">
                    <input
                            id="show-next-dates"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            data-bs-toggle="collapse"
                            data-bs-target="#next-dates-collapse"
                            aria-expanded="false"
                            aria-controls="next-dates-collapse"
                    />
                    <label for="show-next-dates" class="form-label text-secondary-emphasis">Даты планирования</label>
                </div>
                {# TODO: Показывать информации по запланированным запускам #}
                <div id="next-dates-collapse" class="collapse">
                    <div
                            id="next-dates"
                            class="vstack font-monospace text-primary-emphasis"
                    ></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% if task.last_started_run_start_date %}
    <div class="mb-3">
        <label for="last_started_run_start_date" class="form-label">
            <a
                    href="/task/{{ task.id }}/run/last"
                    title="Последний запуск"
            >
                Последний запуск
            </a>
        </label>
        <input
                id="last_started_run_start_date"
                type="text"
                class="form-control"
                value="{{ task.last_started_run_start_date.strftime('%d/%m/%Y %H:%M:%S') }}"
                data-is-utc="true"
                disabled
        >
    </div>
    {% endif %}
</div>

<!-- TODO: -->
<h3>Запуски</h3>

<table id="table-task-runs" class="table"></table>

<script>
    const TASK_ID = {{ task.id }};
    const TASK_LAST_WORK_STATUS = "{{ task.last_work_status }}";
</script>
<script src="{{ url_for('static', filename='js/task_base.js') }}"></script>
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
{% endblock %}
