<link rel="stylesheet" href="{{ url_for('static', filename='libs/codemirror-6.65.7/codemirror.min.css') }}">
<script src="{{ url_for('static', filename='libs/codemirror-6.65.7/codemirror.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='libs/codemirror-6.65.7/darcula.min.css') }}">
<script src="{{ url_for('static', filename='libs/codemirror-6.65.7/shell.min.js') }}"></script>

<style>
    .CodeMirror {
        height: 150px;
    }
</style>
<script>
    const el = document.getElementById("command");
    CodeMirror.fromTextArea(
        el,
        {
            lineNumbers: true,
            mode: "shell",
            theme: "darcula",
            readOnly: el.attributes.readonly != null,
            minLines: 5,
        },
    );
</script>
